* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #041424;
}

.col_10 {
    width: calc(100% / 10);
    height: 100px
}

.field {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bg_active {
    background-color: #7cfcd4;
}

.active_color {
    color: #041424;
}

.darkblue {
    color: #041424;
}

.bg_red {
    background-color: red;
}

.end_square {
    background-color: white;
    width: 30%;
    height: 200px;
    position: absolute;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 600px;
    text-align: center;
    padding: 80px;
}

.p-rel {
    position: relative;
}